DEEPSEEK_API_KEY=your_deepseek_api_key_here
HOSTINGER_EMAIL=your_email@domain.com
HOSTINGER_PASSWORD=your_hostinger_password
GOOGLE_APPLICATION_CREDENTIALS=google_service_account.json
GOOGLE_SHEET_URL_OR_ID=your_google_sheet_id_or_url
TRACKING_URL=http://YOUR_SERVER_IP_OR_DOMAIN:8000
